footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #b3b3b3;
    opacity: 70%;
}
nav {
    background-color: white;
}
head {

}

.content {
    border-radius: 10px;
    background-color: #ffffff;
    margin-top: 1vh;
    padding: 25px;
}
.container {
    width: 55%;
}
.comments {
    display: flex;
    flex-direction: column;
}
body {
    background: linear-gradient(359deg, rgb(233 233 233) 15%, rgb(218 194 245) 75%, rgb(233 233 233) 100%);
    height: 100%;
    min-height: 400px;
    margin-bottom: 100px;
    clear: both;
}
.comment {
    background-color: white;
    margin-top: 1vh;
    display: flex;
    flex-direction: row;
    padding: 10px;
    border-radius: 10px;
}

.comment-title {
    font-family: "Helvetica";
    font-weight: 600;
    font-size: 15px;
    color: #898989;
}
.comment-header {
    display: flex;
    flex-direction: column;
    padding: 5px;
}
.comment-body {
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.comment-date {
    border-radius: 2px;
    text-align: end;
    font-weight: 400;
    background-color: #f6edff;
    padding: 2px 6px 2px 6px;
    margin-left: 5vh;


}
.comment-autor {
    font-size: 15px;
    font-weight: bold;
    font-family: "Helvetica";
}
.comment-data {
    display: flex;
}
.comment-description {
    display: flex;
    flex-direction: column;
}
.comment-text {
    font-style: italic;
    font-family: "Helvetica";
    color: #a7aba6;
    font-size: 13px;
}
.comment-email {
    font-size: 14px;
}
.darkgrey {
    color:darkgrey;
}